
@media only screen and (max-width:913px) {
    .carousel-caption{
        font-size: 10px;

    }
    .carousel-heading{
        font-size: 10px;
    }
}
@media only screen and (min-width:916px)  {
    .carousel-item{
        padding-bottom: 40px;
    }
    .carousel-caption{
        bottom: 180px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .carousel-caption h5{
        font-size: 50px;
        font-weight: 700;
    }
    .carousel-caption p{
        font-size: 18px;
        top: 2rem;
    }
    .slider-btn{
        margin-top: 30px;
    }
    .slider-btn .btn{
        background-color:lightskyblue;
        border-radius: 10px;
        padding: 10px 15px ;
        font-size: 15px;
        color: white;
        margin-right: 18px;
    }
    
}
